.receipt-table{
    width: 100%; /* 테이블이 컨테이너의 전체 너비를 차지하도록 설정 */
    table-layout: fixed; /* 컬럼 너비를 고정하여 내용에 따라 변하지 않도록 설정 */
    border-collapse: collapse;
}

.thead {
    background-color: #aada2a;
  }

.receipt-table th, .receipt-table td{
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
    overflow: hidden; /* 내용이 셀을 벗어나지 않도록 설정 */
    text-overflow: ellipsis; /* 내용이 넘칠 경우 ... 으로 표시 */
    white-space: nowrap;
}

.button {
    background-color: #aada2a; /* 녹색 배경 */
    border: none;
    color: white; /* 흰색 글씨 */
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 1px;
    cursor: pointer;
    border-radius: 8px; /* 둥근 모서리 */
  }

  .button:hover {
    background-color: #45a049; /* 호버 시 더 짙은 녹색 */
  }

  .tableTop{
    display: flex;
    flex-direction: column;
    height: 40px;
  }

.tableCon {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 40px;
}

.tableCon>span {
    margin-right: 20px;
}