.receipt-table{
    width: 100%; /* 테이블이 컨테이너의 전체 너비를 차지하도록 설정 */
    table-layout: fixed; /* 컬럼 너비를 고정하여 내용에 따라 변하지 않도록 설정 */
    border-collapse: collapse;
}

.thead {
    background-color: #aada2a;
  }

.receipt-table th, .receipt-table td{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    overflow: hidden; /* 내용이 셀을 벗어나지 않도록 설정 */
    text-overflow: ellipsis; /* 내용이 넘칠 경우 ... 으로 표시 */
    white-space: nowrap;
}

.button {
    background-color: #aada2a; /* 녹색 배경 */
    border: none;
    color: white; /* 흰색 글씨 */
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 8px; /* 둥근 모서리 */
  }

  .button:hover {
    background-color: #45a049; /* 호버 시 더 짙은 녹색 */
  }
  
  .checkbox-container {
    display: flex;
    align-items: right;
    margin: 10px;
  }
  
  .checkbox-label {
    font-size: 16px;
    margin-right: 20px;
    display: flex;
    align-items: right;
  }
  
  .checkbox {
    display: none; /* 기본 체크박스를 숨김 */
  }
  
  .checkbox + label {
    position: relative;
    cursor: pointer;
    padding-left: 35px; /* 커스텀 체크박스를 위한 공간 */
  }
  
  .checkbox + label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 2px solid #4CAF50;
    border-radius: 4px;
    background: white;
  }
  
  .checkbox:checked + label::before {
    background-color: #4CAF50;
  }
  
  .checkbox + label::after {
    content: '\2665'; /* Unicode for heart */
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: white;
    opacity: 0;
    transition: opacity 0.2s;
  }
  
  .checkbox:checked + label::after {
    opacity: 1;
  }