.rable {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    background-color: #d7f5b1;
    border-radius: 8px;
}

.branch {
    display: flex;
}

.qr {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 150px;
    height: 150px;
}

.qrImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.thead {
    background-color: #aada2a;
}

.table th,
.table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table th:nth-child(1), 
.table td:nth-child(1) {
    width: 6%;/*순번 */
}

.table th:nth-child(2),
.table td:nth-child(2) {
    width: 16%;/*상품코드 */
}

.table th:nth-child(3),
.table td:nth-child(3) {
    width: 20%;/*상품명 */
}

.table th:nth-child(4),
.table td:nth-child(4) {
    width: 12%;/*제조사*/
}

.table th:nth-child(5),
.table td:nth-child(5) {
    width: 8%;/*수량 */
}

.table th:nth-child(6),
.table td:nth-child(6) {
    width: 8%;/*단위 */
}

.table th:nth-child(7),
.table td:nth-child(7) {
    width: 10%;/*총액 */
}

.table th:nth-child(8),
.table td:nth-child(8) {
    width: 10%; /*검수상태 */
}


.printButtonContainer {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.printButton{
    background-color: #aada2a;
    border: none;
    color: black;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 1px;
    cursor: pointer;
    border-radius: 8px;
}
    
.printButton:hover {
    background-color: #45a049;
}


.managerInputContainer {
    width: 200px;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.managerInput {
    width: 100%;
    padding: 0.5rem;
}