.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* stock.js 재고관리페이지에 있는 Paginator부분 css 커스텀 */
.my-custom-paginator {
  background-color: #f9f9f9 !important;
  margin-top: 3px;
}

.my-custom-paginator .p-dropdown {
  background-color: #f9f9f9 !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  line-height: 1.5;
  outline: none;
  box-shadow: none; 
}

/* stock.js 재고관리페이지에 있는 검색창 부분 css 커스텀 */
.p-inputgroup .p-button-warning {
  background-color: #e3f2fd !important;
  border: none; 
  color: #333; 
}

.p-inputgroup {
  max-width: 740px;
  display: flex; 
}

.p-inputtext {
  outline: none; 
  box-shadow: none; 
}

.p-button-warning {
  outline: none;
  box-shadow: none; 
}



